html{
    margin: auto;
    width: 1000px;
}

#forest_info{
    border-style: solid;
    border-width: 1px;
    padding: 5px;

}


.cell{

    border-style: solid;
    border-width: 1px;

}

